@model MyApp.Models.Cart
<h1>View Models</h1>

<form method="post">
    <div class="row">
        <div class="col-4">
            <img src="@Model.Product.ImageUrl" height="200" width="200" />
            <input type="hidden" asp-for="ProductId" />
        </div>
        <div class="col-8">
            <div class="row">
            <lable asp-for="Product.Name">Product Name: @Model.Product.Name</lable><br>
            <lable asp-for="Product-Description">Product Description: @Model.Product.Description</lable>
            <label asp-for="Product.Price">Product.Price: @Model.Product.Price.ToString("0.00")</label>
            <lable asp-for="Product.Category.Id">Product Category : @Model.Product.Category.Name</lable>
            <div class="form-control">
                <label asp-for="Count"></label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-control">
                <button class="btn btn-success" asp-action="Index" asp-controller="Home">Back To List</button>
                <button class="btn btn-info">Add To Cart</button>
            </div>
            </div>
        </div>
    </div>
</form>
