@model MyApp.Models.ViewModels.CartVm


<section class="h-100 gradient-custom">
    <div class="container py-5">
        <div class="row d-flex justify-content-center my-4">
            <div class="col-md-8">
                <div class="card mb-4">
                   
                    <div class="card-header py-3">
   
                        <h5 class="mb-0">Cart - 2 items</h5>
                    </div>
                    <div class="card-body">
                       
                        <!-- Single item -->
                        @foreach (var item in Model.ListOfCart)
                            { 
                                <div class="row">
                         
                            <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                
                                <!-- Image -->
                                <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                                    <img src="@item.Product.ImageUrl" height="200" width="150"/>
                                        
                                    <a href="#!">
                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                    </a>
                                </div>
                                <!-- Image -->
                            </div>
                           
                            <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                                <!-- Data -->
                                <p><strong>@item.Product.Name</strong></p>
                                <p>@item.Product.Description</p>
                                <a asp-action="delete" asp-route-id="@item.Id" type="button" class="btn btn-primary btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
                                        title="Remove item">
                                    <i class="bi bi-trash"></i>
                                </a>
                                <button type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"
                                        title="Move to the wish list">
                                    <i class="bi bi-heart-fill"></i>
                                </button>
                                <!-- Data -->
                            </div>

                            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                <!-- Quantity -->
                                <div class="d-flex mb-4" style="max-width: 300px">
                                    <a asp-action="minus" asp-route-id="@item.Id" class="btn btn-primary px-3 me-2"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                        <i class="bi bi-dash"></i>
                                    </a>

                                    <div class="form-outline">
                                            <input id="form1" min="0" name="quantity" value="@item.Count" type="number" class="form-control" />
                                        <label class="form-label" for="form1">Quentity</label>
                                    </div>

                                    <a asp-action="plus" asp-route-id="@item.Id" class="btn btn-primary px-3 ms-2"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                        <i class="bi bi-plus-lg"></i>
                                    </a>
                                </div>
                                <!-- Quantity -->
                                <!-- Price -->
                                <p class="text-start text-md-center">
                                    <strong>@item.Product.Price</strong>
                                </p>
                                <!-- Price -->
                            </div>
                                <hr class="my-4" />
                       </div>
  }                      <!-- Single item -->
                       
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Summary</h5>
                    </div>
                     @foreach(var item in Model.ListOfCart){
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                Products
                                        <span>@item.Product.Name</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                Shipping
                                <span>Gratis</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                <div>
                                    <strong>Total amount</strong>
                                    <strong>
                                        <p class="mb-0">(including VAT)</p>
                                    </strong>
                                </div>
                                    <span><strong>@((item.Count * item.Product.Price).ToString("c"))</strong></span>
                                    </li>
                                    <hr>
                                    <hr>
                        </ul>
                       
                       
                    </div>
                        } <a asp-action="Summary" class="btn btn-primary btn-lg btn-block">
                            Go to checkout
                        </a>

                    </div>
                </div> 
        </div>
    </div>
</section>