@model MyApp.Models.ViewModels.OrderVM
@using MyAppCommonHelper
<form method="post">
    <input type="hidden" asp-for="OrderHeader.Id" />
<section>

    <div class="row">
        <div class="col-6">
            <h2>Pickup Details</h2>
            <div class="row mb-3">
            @if(User.IsInRole(WebSiteRole.Role_Admin) || User.IsInRole(WebSiteRole.Role_Employee))
            {
                    <lable asp-for="OrderHeader.Name">Name</lable>
                    <input asp-for="OrderHeader.Name" class="form-control" />
                    <span asp-validation-for="OrderHeader.Name" class="text-danger"></span>
            }
            else
            {
                    <lable asp-for="OrderHeader.Name">Name</lable>
                    <input readonly asp-for="OrderHeader.Name" class="form-control" />
            }
           
               
            </div>
                <div class="row mb-3">
                @if (User.IsInRole(WebSiteRole.Role_Admin) || User.IsInRole(WebSiteRole.Role_Employee))
                {
                    <lable asp-for="OrderHeader.Phone">Phone</lable>
                    <input asp-for="OrderHeader.Phone" class="form-control" />
                    <span asp-validation-for="OrderHeader.Phone" class="text-danger"></span>
                }
                else
                {
                    <lable asp-for="OrderHeader.Phone">Phone</lable>
                    <input readonly asp-for="OrderHeader.Phone" class="form-control" />
                }
                </div>
                <div class="row mb-3">
                @if (User.IsInRole(WebSiteRole.Role_Admin) || User.IsInRole(WebSiteRole.Role_Employee))
                {
                    <lable asp-for="OrderHeader.Address">Address</lable>
                    <input asp-for="OrderHeader.Address" class="form-control" />
                    <span asp-validation-for="OrderHeader.Address" class="text-danger"></span>
                }
                else
                {
                    <lable asp-for="OrderHeader.Address">Address</lable>
                    <input readonly asp-for="OrderHeader.Address" class="form-control" />
                }
                </div>
                <div class="row mb-3">
                @if (User.IsInRole(WebSiteRole.Role_Admin) || User.IsInRole(WebSiteRole.Role_Employee))
                {
                    <lable asp-for="OrderHeader.City">City</lable>
                    <input asp-for="OrderHeader.City" class="form-control" />
                    <span asp-validation-for="OrderHeader.City" class="text-danger"></span>
                }
                else
                {
                    <lable asp-for="OrderHeader.City">City</lable>
                    <input readonly asp-for="OrderHeader.City" class="form-control" />
                }
                </div>
                <div class="row mb-3">
                @if (User.IsInRole(WebSiteRole.Role_Admin) || User.IsInRole(WebSiteRole.Role_Employee))
                {
                    <lable asp-for="OrderHeader.State">State</lable>
                    <input asp-for="OrderHeader.State" class="form-control" />
                    <span asp-validation-for="OrderHeader.State" class="text-danger"></span>
                }
                else
                {
                    <lable asp-for="OrderHeader.State">State</lable>
                    <input readonly asp-for="OrderHeader.State" class="form-control" />
                }
                </div>
                <div class="row mb-3">
                @if (User.IsInRole(WebSiteRole.Role_Admin) || User.IsInRole(WebSiteRole.Role_Employee))
                {
                    <lable asp-for="OrderHeader.PostalCode">Postal Code</lable>
                    <input asp-for="OrderHeader.PostalCode" class="form-control" />
                    <span asp-validation-for="OrderHeader.PostalCode" class="text-danger"></span>
                }
                else
                {
                    <lable asp-for="OrderHeader.PostalCode">Postal Code</lable>
                    <input readonly asp-for="OrderHeader.PostalCode" class="form-control" />
                }
                </div>
                <div class="row mb-3">
                <lable asp-for="OrderHeader.ApplicationUser.Email">Email</lable>
                <input readonly asp-for="OrderHeader.ApplicationUser.Email" class="form-control" />
                </div>
                <div class="row mb-3">
                <lable asp-for="OrderHeader.DateOfOrder">Order Date</lable>
                <input readonly asp-for="@Model.OrderHeader.DataOfOrder.ToShortDateString()" class="form-control" />
                </div>
                <div class="row mb-3">
                @if (User.IsInRole(WebSiteRole.Role_Admin) || User.IsInRole(WebSiteRole.Role_Employee))
                {
                    <lable asp-for="OrderHeader.TrackingNumber">Tracking</lable>
                    <input asp-for="OrderHeader.TrackingNumber" class="form-control" />
                  
                }
                else
                {
                    <lable asp-for="OrderHeader.TrackingNumber">Tracking</lable>
                    <input readonly asp-for="OrderHeader.TrackingNumber" class="form-control" />
                }
                </div>
                <div class="row mb-3">
                @if (User.IsInRole(WebSiteRole.Role_Admin) || User.IsInRole(WebSiteRole.Role_Employee))
                {
                    <lable asp-for="OrderHeader.Carrier">Carrier</lable>
                    <input asp-for="OrderHeader.Carrier" class="form-control" />
                   
                }
                else
                {
                    <lable asp-for="OrderHeader.Carrier">Carrier</lable>
                    <input readonly asp-for="OrderHeader.Carrier" class="form-control" />
                }
                </div>
                <div class="row mb-3">
                <lable asp-for="OrderHeader.DateOfShipping">Shipping Date</lable>
                <input readonly asp-for="@Model.OrderHeader.DateOfShipping.ToShortDateString()" class="form-control" />
                </div>
                <div class="row mb-3">
                @if (User.IsInRole(WebSiteRole.Role_Admin) || User.IsInRole(WebSiteRole.Role_Employee))
                {
                    <lable asp-for="OrderHeader.SessionId">Session Id</lable>
                    <input asp-for="OrderHeader.SessionId" class="form-control" />

                    <lable asp-for="OrderHeader.PaymentIntentId">Payment Intent Id</lable>
                    <input asp-for="OrderHeader.PaymentIntentId" class="form-control" />

                }
                </div>
            @if (Model.OrderHeader.SessionId != null)
            {
                <div class="row mb-3">
                    <lable asp-for="OrderHeader.DateOfPayment">Payment Date</lable>
                    <input readonly asp-for="@Model.OrderHeader.DateOfPayment.ToShortDateString()" class="form-control" />
                </div>
            }
            <div class="row mb-3">
                <lable asp-for="OrderHeader.PaymentStatus">Payment Status</lable>
                <input readonly asp-for="OrderHeader.PaymentStatus" class="form-control" />
            </div>
            <div class="row mb-3">
                <button type="submit" class="btn btn-primary">Update Order</button>
            </div>
        </div>
        <div class="col-6">
            <div class=" mb-4">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Order Summary</h5>
                    </div>
                <div class="card-body">
                    <ul class=" list-group-flush list-group">
                        @foreach(var item in Model.OrderDetail){
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>@item.Product.Name</span>
                             <span>QTY:@item.Count </span>
                                <span>Price:@item.Product.Price</span>
                                <div class="text-end">@((item.Count*item.Price).ToString("c"))</div>
                        </li>
                        }
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              <div>
                                <strong>Total Amount &nbsp;<span class="text-end">@Model.OrderHeader.OrderTotal.ToString("c")</span></strong>
                                <strong>INR</strong>
                               </div>
                                <span><strong></strong></span>
                            </li>
                    </ul>
                </div>
                 @if (User.IsInRole(WebSiteRole.Role_Admin) || User.IsInRole(WebSiteRole.Role_Employee))
                    {
                        if(Model.OrderHeader.OrderStatus==OrderStatus.StatusApproved)
                        {
                                <button asp-action="InProcess" type="submit" class="btn btn-info btn-lg btn-block mb-2">Start Processing</button>
                        }
                        if (Model.OrderHeader.OrderStatus == OrderStatus.StatusInProcess)
                        {
                                <button asp-action="Shipped" type="submit" onclick="return ValidateEmpty()" class="btn btn-success btn-lg btn-block mb-2">Shiping Order</button>
                        }
                        if (Model.OrderHeader.OrderStatus != OrderStatus.StatusRefund &&
                        Model.OrderHeader.OrderStatus != OrderStatus.StatusCancelled)
                        {
                        <button type="submit" class="btn btn-dark btn-lg btn-block mb-2">Cancel Order</button>
                        }
                        
                    }
                    @if(User.IsInRole(WebSiteRole.Role_User) && Model.OrderHeader.OrderStatus==OrderStatus.StatusPending)
                        {
                            <button asp-action="PayNow" type="submit" class="btn btn-success btn-lg btn-block mb-2">
                                Pay Now
                            </button>
                        }
                    </div>
            </div>
        </div>
            </div>
            </section>
</form>


@section scripts{
    @{
        <partial name="_ValidationScrtiptsPartial" />
    }
    <script>
        function ValidateEmpty() {
            if (document.getElementById("OrderHeader_TrackingNumner").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Uplode Image'

                });
                return false;
            }
            if (document.getElementById("OrderHeader_Carrier").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Uplode Carrier and TrackingNumber'

                });
                return false;
            }
            return true;
        }
    </script>
}